@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #cfe8ff;
}

header section {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
}

svg {
    width: 32px;
  height: 32px;
  color: #fff;
}